@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900");
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Geist", sans-serif;
}
